.App {
  text-align: center;
}

.TitleText{
  font-family: 'Sansita Swashed', cursive !important;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Appbar{
  background-color: #1D3461 !important;
}

.Footer{
  background-color: #1D3461 !important;
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
}

.container{
  background-color: #829CBC;
  border-radius: 25px !important;
  min-height: 100vh;
  padding-bottom: 100px;

}

.cardbutton{
  background-color: #376996 !important;
  align: center !important;
}

.marginspace{
  margin-top: 25px;
}

.image{
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  font-family: 'Sansita Swashed', cursive !important;
  font-size: 30px;
  background: #1D3461;
  text-align: left;
}

nav ul li {
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  background: #1D3461;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a.active {
  background: #829CBC;
  border-radius: 10px;
  padding: 2px;
}

nav ul li a:hover{
  background: #829CBC;
  border-radius: 10px;
  padding: 2px;
}